.cart-btn{
    background-color: red;
    color: white;
    border: none;
    padding: 2vh;
    margin-top: 5vh;
}
.popular{
    margin-top: 5%;
}
.popular-item{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  justify-content: space-between;
  margin: 10px;
}

@media (min-width: 768px) {
  .popular-item {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .popular-item {
    grid-template-columns: repeat(3, 1fr);
  }
}
